/* App.css */

.custom-navbar {
  padding: 1.5rem 2rem;
  background-color: transparent;
}

.brand-title {
  font-family: 'Aboreto', sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: black;
}

.nav-links .nav-link {
  font-family: 'Aboreto', sans-serif;
  font-size: 1.25rem;
  color: black;
  margin-right: 1.5rem;
}

.nav-links .nav-link:hover {
  color: #007bff;
}

.sign-in-btn {
  font-family: 'Aboreto', sans-serif;
  background-color: black;
  color: white;
  font-size: 1.1rem;
  padding: 0.5rem 1.5rem;
  border-radius: 12px;
  border: none;
}

@media (max-width: 991px) {
  .sign-in-btn {
    margin-top: 1rem;
    width: 100%;
  }
}
