/* NavigationBar.css */
/* Apply Aboreto font to brand and nav links */
.navbar-brand,
.navbar-nav .nav-link {
  font-family: 'Aboreto';
}

.navbar-brand {
  font-size: 1.8rem;
  font-weight: 500;
}

.navbar-nav .nav-link {
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}

.signin-btn {
  background-color: black;
  color: white;
  border: 1px solid black;
  transition: all 0.3s ease;
}

.signin-btn:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}
