/* NavigationBar.css */
/* Apply Aboreto font to brand and nav links */
.navbar-brand,
.navbar-nav .nav-link {
  font-family: 'Aboreto';
  color: black;
}

.navbar-brand {
    font-family: 'Aboreto';
    font-size: 3rem;
}


.navbar-nav .nav-link {
    font-size: 1.3rem;
    font-family: 'Aboreto';
    font-weight: 1000;
    letter-spacing: 0.5px;
}

/*.signin-btn {
  background-color: black;
  color: white;
  border: 1px solid black;
  transition: all 0.3s ease;
}

.signin-btn:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}*/
